
.cell-2 {
    background-color: #eee4da;
}

.cell-4 {
    background-color: #ede0c8;
}

.cell-8 {
    background-color: #f2b179;
    color: white;
}

.cell-16 {
    background-color: #f59563;
    color: white;
}

.cell-32 {
    background-color: #f67c5f;
    color: white;
}

.cell-64 {
    background-color: #f65e3b;
    color: white;
}

.cell-128 {
    background-color: #edcf72;
    color: white;
}

.cell-256 {
    background-color: #edcc61;
    color: white;
}

.cell-512 {
    background-color: #edc850;
    color: white;
}

.cell-1024 {
    background-color: #edc53f;
    color: white;
}

.cell-2048 {
    background-color: #edc22e;
    color: white;
}
